:root {
    --black: #000000;
    --crimson: rgb(255, 82, 82);
    --darkgray: rgb(67, 67, 67);
    --gray: rgb(113, 113, 113);
    --silver: rgb(193, 193, 193);
    --steelblue: #4682b4;
    --emerald: rgb(58, 181, 121);
    --orange: rgb(255, 137, 59);
}

.poppins-semibold {
    font-family: "Poppins", sans-serif;
    font-weight: 600;
    font-style: normal;
}

.poppins-regular {
    font-family: "Poppins", sans-serif;
    font-weight: 400;
    font-style: normal;
}

* {
   font-size: 13px;
   
}


.main-home {
    background-color: #f6f6f6;
}

.main-home .main-home-contain .infor {
    background-color: #f6f6f6;
}

.main-home .main-home-contain .infor-contain {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.main-home .main-home-contain .left {
    display: flex;
    width: 40%;
}

.main-home .main-home-contain .right {
    width: 40%;
}

.main-home .main-home-contain .right .right-contain {
    display: flex;
    float: right;
    line-height: 100px;
}

.main-home .main-home-contain .right .right-contain .search,
.main-home .main-home-contain .right .right-contain a {

    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.main-home .main-home-contain .right .right-contain .search {
    width: 250px;
}

.main-home .main-home-contain .right .right-contain .search input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;
    outline: none;

}

.main-home .main-home-contain .left .logo {
    width: 20%;
    margin-right: 15px;
}

.main-home .main-home-contain .left .logo img {
    width: 100%;
}

.main-home .main-home-contain .left .contact {
    line-height: 100px;
}

.main-home .main-home-contain .left .contact a {
    margin: 0 20px 0 20px;
    text-decoration: none;
    color: black;
    transition: 0.3s;
}

.main-home .main-home-contain .infor a:hover {
    color: var(--crimson);
}


/* -----------------main menu----------------- */

.main-menu {
    width: 100%;
    border-top: #0000001d solid 1px;
    border-bottom: #0000001d solid 1px;
    background-color: white;
}

.main-menu .main-menu-content {
    display: flex;
    align-items: center;
    flex-wrap: wrap;
    justify-content: center;

}

.main-menu ul.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}

.main-menu ul.menu li.list-menu {
    padding: 15px 35px;
    font-size: 15px;
    /* font-weight: bold; */
    /* font-family:  "Poppins", sans-serif; */
}

.main-menu ul.menu .list-menu a {
    text-decoration: none;
    color: black;
}

.main-menu ul.menu .list-menu a:hover {
    /* cursor: pointer; */
    color: rgb(255, 137, 59);
    transition: 0.2s;
}

.main-menu ul.menu li.list-menu {
    position: relative;
}
.main-menu .dropdown {
    display: flex;
    justify-content: space-between;
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2);
    background-color: rgb(255, 255, 255);
    padding: 20px 20px;
}
.main-menu .dropdown ul.drop {
    list-style: none;
    margin: 0;
    padding: 0 10px;
}

.main-menu .dropdown .img {
    width: 200px;
    height: max-content;
    margin: 0 10px;
    border-radius: 7px;
    overflow: hidden;
}
.main-menu .dropdown .img img {
    width: 100%;
    transition: 0.5s;
    border-radius: 7px;
}
.main-menu .dropdown .img:hover img {
    transform: scale(1.2);
}
.main-menu .dropdown ul.drop li.items {
    color: #000000;
    font-weight: lighter;
    margin: 5px 0;
    transition: 0.4s;
}

.main-menu .dropdown ul.drop li.items:hover {
    cursor: pointer;
    color: rgb(255, 137, 59);
}

.main-menu ul.menu li.list-menu .dropdown {
    position: absolute;
    top: 60px;
    left: 50%;
    transform: translate(-50%);
    width: max-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0s;
}

.main-menu ul.menu li.list-menu:hover .dropdown {
    top: 50px;
    opacity: 1;
    visibility: visible;
    transition: 0.6s;

}