.main-login {
    width: 40%;
    margin: auto;
    padding: 70px 0;

}
.main-login .container {
    background-color: white;
    padding: 30px 40px;
    border-radius: 10px;
}
.main-login .title {
    text-align: center;
}
.main-login .title h1 {
    font-size: 30px;
    font-weight: 500;
    margin-bottom: 0;
}
.main-login form.login input {
    margin: 5px 0 15px 0;
    width: 95%;
    padding: 10px 10px;
    border-radius: 5px;
    outline: none;
    border: 1px solid var(--silver);
}
.main-login form.login .button-login {
    text-align: center;
}
.main-login form.login button {
    padding: 7px 15px;
    font-size: 17px;
    color: white;
    background-color: var(--orange);
    border: 1px solid var(--orange);
    border-radius: 5px;
    outline: none;
    cursor: pointer;
    transition: 0.4s;
}
.main-login form.login button:hover {
    border: 1px solid var(--orange);
    color: var(--orange);
    background-color: rgba(255, 255, 255, 0);
}
.main-login .forgot-pw {
    padding: 30px 0 50px 0;
    text-align: center;
}
.main-login .forgot-pw a {
    color: var(--orange);
}
.main-login .forgot-pw p {
    font-weight: 500;
}