* {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}



/* ---------- Main Home ---------- */
.main-home {
    background-color: #fffaf5;
    
    /* background-color: rgba(255, 200, 141, 0.118); */
}

.main-home .main-home-contain .infor {
    background-color: rgb(255, 255, 255);
}

.main-home .main-home-contain .infor-contain {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
    font-size: 15px;
}

.main-home .main-home-contain .left {
    display: flex;
    width: 40%;
}

.main-home .main-home-contain .right {
    width: 40%;
}

.main-home .main-home-contain .right .right-contain {
    display: flex;
    float: right;
    line-height: 100px;
}

.main-home .main-home-contain .right .right-contain .search,
.main-home .main-home-contain .right .right-contain a {

    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
}

.main-home .main-home-contain .right .right-contain .search {
    width: 250px;
}

.main-home .main-home-contain .right .right-contain .search input {
    width: 100%;
    padding: 10px 5px;
    border: 1px solid rgb(92, 92, 92);
    border-radius: 5px;

}

.main-home .main-home-contain .left .logo {
    width: 20%;
    margin-right: 15px;
}

.main-home .main-home-contain .left .logo img {
    width: 100%;
}

.main-home .main-home-contain .left .contact {
    line-height: 100px;
}

.main-home .main-home-contain .left .contact a {
    padding: 0 10px 0 10px;
    text-decoration: none;
    color: black;
}

.main-menu {
    width: 100%;
    border-top: #0000001d solid 1px;
    border-bottom: #0000001d solid 1px;
    background-color: white;
}
.main-menu .main-menu-content {
    width: 40%;
    margin: auto;

}

.main-menu ul.menu {
    display: flex;
    justify-content: space-between;
    list-style: none;
    padding: 0;
    margin: 0;

}

.main-menu ul.menu li.list-menu {
    padding: 15px 35px;
    font-size: 15px;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI ', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif ;
    /* transition: 0.4s; */
}

.main-menu ul.menu li.list-menu:hover {
    cursor: pointer;
    color: rgb(255, 137, 59);
}

.main-menu ul.menu li.home {
    position: relative;
}

.main-menu .dropdown ul.drop {
    list-style: none;
    padding: 20px 15px;
    background-color: rgb(255, 255, 255);
    box-shadow: 0 0 8px rgba(0, 0, 0, 0.2) 
}

.main-menu .dropdown ul.drop li.items {
    color: #000000;
    padding: 7px 0;
}
.main-menu ul.menu li.home .dropdown {
    position: absolute;
    top: 50px;
    left: 0px;
    width: max-content;
    z-index: 10;
    opacity: 0;
    visibility: hidden;
    transition: 0.6s;
}


.main-menu ul.menu li.list-menu:hover .dropdown {
    opacity: 1;
    visibility: visible;
}


/* ---------- Collections ---------- */
.main-collections {
    width: 80%;
    margin: auto;
}
.main-collections .main-collections-container {
    margin: 30px 0;
    display: flex;
    justify-content: space-between;
}
/* .main-filters .main-filters-container    */

.main-collections .main-collections-container .main-filters {
    width: 25%;
}

.main-collections .main-collections-container .main-products {
    width: 74%;
}

.main-collections .main-products .products-sale .container {
    width: 100%;
}
.main-collections .main-products .products-sale .container img {
    width: 100%
}

.main-collections .main-collections-container .main-filters .category span {
    color: rgb(118, 118, 118);
}

.bottom-line {
    margin-right: 40px;
    padding-bottom: 20px;
    border-bottom: 1px solid rgba(128, 128, 128, 0.288);
}


.main-collections .main-products .product-collection .product-collection-container {
   display: flex;
   flex-wrap: wrap;
}
.main-collections .main-products .product-collection .single-product {
    width: 31%;
    padding: 20px 10px;
}

.main-collections .main-products .product-collection .single-product img {
    width: 100%;
}
.main-collections .main-products .product-collection .single-product .product-action {
    text-align: center;
}
.main-collections .main-products .product-collection .single-product .product-action .spacing {
    margin-top: 10px;
}
.main-collections .main-products .product-collection .single-product .product-action a {
    text-decoration: none;
    color: #000000;
}
.main-collections .main-products .product-collection .single-product .product-action .product-name {
    font-weight: bold;
}





/* ---------- Footer ---------- */
.footer {
    width: 100%;
    padding-bottom: 50px;
    background-color: white;
}
.footer .footer-container {
    width: 80%;
    margin: auto;
    display: flex;
    justify-content: space-between;
}
.footer .footer-container .col {
    width: 24%;
}